
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';





body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #f2f2f2;
  color: blue;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color:rgb(246, 246, 253);
  font-size: 18px;
  overflow: hidden;
}

header {
  background-color: rgb(97, 34, 34);
  color: white;
  text-align: center;
  padding: 2rem 0;
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.photo {
  flex: 1;
  margin-right: 2rem;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.photo img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  float: left; 
  margin-right: 2rem; 
  transition: transform 0.3s ease-in-out;
}

.photo img:hover {
  transform: scale(1.1);
}

.content {
  flex: 2;
  animation: fadeIn 1s ease-out; 
  color: black;
  font-size: 23px;
}


.content p, .content strong {
  opacity: 0; 
  transition: opacity 0.5s ease-in-out;
}

.content p, .content strong {
  opacity: 1; 
  
  color: #555;
}

footer {
  margin-top: auto;
  background-color: rgb(97, 34, 34);
  color: white;
  text-align: center;
  padding: 1rem 0;
}


@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .photo,
  .content {
    flex: 1;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .photo img {
    float: none; 
    margin-right: 0; 
    margin-bottom: 1rem; 
  }
}


.social-links {
  margin-top: 1rem;
}

.social-links a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  color: #ffd700; 
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}